@import "libs";
@import "vars";
@import "fonts";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-color: #f5fafe;
  font-family: "Mulish_regular";
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.container__content {
  max-width: 1440px;
}

.title__top {
  padding-top: 70px;
  margin-bottom: 60px;
  text-align: center;
  font-family: "Mulish_bold";
  font-size: 36px;
  text-transform: uppercase;
}
.red {
  color: #ec1f46;
}

.navtop {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  height: 70px;
  &__text {
    font-size: 12px;
  }
  &__questions {
    font-family: "Mulish_bold";
  }
  &__links {
    display: flex;
    &-text {
      position: relative;
      bottom: 4px;
      padding-left: 10px;
      font-size: 10px;
    }
  }

  &__gift + &__gift {
    margin-left: 100px;
  }
}
.navbar {
  min-height: 120px;
  background-color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
  }
  &__title {
    font-family: "LuckiestGuy_Regular";
    font-size: 24px;
  }
  &__form {
    position: relative;
    .navbar__search {
      width: 280px;
      height: 40px;
      background-color: #f5fafe;
      border: none;
      border-radius: 6px;
      padding: 12px 20px;
      font-size: 14px;
      font-weight: bold;
      outline: none;
    }
    a {
      top: 0.5px;
      right: -40px;
      position: absolute;
      padding: 10.2px 20px;
      border-radius: 0px 6px 6px 0px;
      background-color: #ec1f46;
    }
  }
  .cart {
    display: flex;
    align-items: flex-end;
    position: relative;
    &__number {
      position: absolute;
      bottom: 14px;
      left: 14px;
      width: 18px;
      height: 18px;
      background-color: #ec1f46;
      border-radius: 10px;
      font-size: 10px;
      font-weight: 600;
      text-align: center;
      padding-top: 2px;
      color: #fff;
    }
    .profile {
      margin-left: 40px;
      a {
        display: flex;
        align-items: center;
      }
      img {
        width: 50px;
        border-radius: 50%;
      }
    }
  }
}

.navbar__bottom {
  height: 80px;
  margin-bottom: 50px;
  background-color: #0a223d;
  color: white;
}
.menu--paddingTop {
  padding-top: 32px;
  text-transform: uppercase;
}
.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    &-link {
      transition: all 0.4s;
      &:hover {
        color: #ec1f46;
      }
    }
  }
}

.hotel {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }
  &__title {
    display: flex;
    align-items: center;
    h1 {
      font-size: 24px;
      font-family: "Mulish_bold";
    }
  }
  &__flash-offer {
    margin-left: 10px;
    padding: 4px;
    font-size: 10px;
    color: #fff;
    background-color: #ec1f46;
    border-radius: 3px;
  }
  &__offers {
    font-size: 12px;
  }
}
.rating {
  height: 45px;
  padding: 5px;
  color: #fff;
  text-align: center;
  background-color: #ec1f46;
  border-radius: 4px;
  &__title {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 4px;
  }
}

.slider__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .slider {
    max-width: 728px;
  }
}
.price_and_map__block {
  display: block;
}
.price__card {
  display: flex;
  justify-content: space-around;
  width: 350px;
  height: 210px;
  position: relative;
  margin-bottom: 20px;
  padding-top: 30px;
  color: #fff;
  border-radius: 8px;
  background-color: #0a223d;
}
.price {
  max-width: 140px;

  p {
    font-size: 10px;
    margin-bottom: 12px;
  }
  span {
    display: inline-block;
    margin: 5px 0px;
    font-size: 24px;
    font-weight: bold;
  }
  h4 {
    font-size: 18px;
    font-weight: normal;
  }
}
.info {
  max-width: 80px;
  span {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
  }
  a {
    display: inline-block;
    margin-top: 12px;
  }
}
.price__button {
  position: absolute;
  bottom: 24px;
  width: 280px;
  padding: 12px;
  font-size: 14px;
  text-align: center;
  background: #ec1f46;
  border-radius: 4px;
  transition: all 0.4s;
  &:hover {
    opacity: 70%;
  }
}
.menu__list-link--active {
  color: #ec1f46;
}
.menu__list-item--line {
  transition: all 0.4s;
  &:hover {
    color: #ec1f46;
  }
}

.cards__menu {
  text-transform: none;
}
.package {
  &__title {
    margin-bottom: 40px;
    padding-top: 60px;
    font-size: 24px;
    text-transform: uppercase;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
  }
  &__card {
    width: 538px;
    border-radius: 8px;
    background-color: #fff;
    &-name {
      padding: 14px 0px 14px 24px;
      margin-bottom: 28px;
      border-radius: 4px 4px 0px 0px;
      font-size: 14px;
      background-color: #0a223d;
      color: #fff;
    }
  }
}
.card__inner {
  display: flex;
  justify-content: space-between;
}
.card__list {
  padding: 0 30px 0px 50px;
  width: 538px;
  &-item {
    position: relative;
    margin-bottom: 24px;
    font-size: 12px;
    &::before {
      content: "";
      position: absolute;
      left: -28px;
      width: 16px;
      height: 16px;
      background-image: url("../img/package__card-icon.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
    &--width {
      max-width: 180px;
      line-height: 15px;
    }
    &--calendar::before {
      content: "";
      background-image: url("../img/card__list-item-calendar.svg");
    }
  }
}
.package__big-card {
  width: 100%;
}

.card__top-name {
  position: relative;
  left: -26px;
  margin-bottom: 20px;
  color: #ec1f46;
  font-size: 13px;
}

hr {
  border: 1px dashed #e0e0e0;
  margin-bottom: 20px;
}

.review {
  .img__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1240px;
    margin-bottom: 30px;
    color: #fff;
  }
  .img__main-card {
    display: flex;
    position: relative;
  }
  .img__flashOffer {
    position: absolute;
    top: 20px;
    padding: 6px;
    font-size: 12px;
    background-color: #ec1f46;
    border-radius: 0px 4px 4px 0px;
  }
  .card__descr {
    &-name {
      font-size: 18px;
      margin: 2px 0px 30px 0px;
    }
    &-icon {
      font-size: 12px;
      margin: 0px 0px 40px 20px;
      position: relative;
    }
    &-item {
      margin-bottom: 10px;
    }
    &-item::before {
      content: "";
      position: absolute;
      left: -20px;
      width: 11px;
      height: 16px;
      background-image: url("../img/map-pin.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
    &-item--user::before {
      background-image: url("../img/price__user.svg");
    }
    &-item--home::before {
      background-image: url("../img/price_home.svg");
    }
  }
  .price__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &-card {
      .old__price {
        font-size: 14px;
        text-decoration-line: line-through;
        opacity: 0.8;
      }
      .new__price {
        margin-top: 5px;
        font-size: 24px;
        font-family: "Mulish_bold";
      }
    }
    &-button {
      padding: 10px 20px;
      font-size: 14px;
      background-color: #ec1f46;
      border-radius: 4px;
      transition: all 0.4s;
      &:hover {
        opacity: 70%;
      }
    }
  }
  .card__descr-icon--height {
    margin-bottom: 30px;
  }
  .img__small-main {
    position: relative;
    margin: 0px 5px 20px 5px;
  }
  .img__small-descr {
    position: relative;
    bottom: 3px;
    padding: 20px 20px 0px 20px;
    height: 250px;
    border-radius: 0px 0px 8px 8px;
    background-color: #0a223d;
  }
}

.guest__slider {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 90px;
  &-item {
    max-width: 620px;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px 0px;
  }
  &-img {
    display: inline-block;
    background-image: url("../img/guest__slider-img1.png");
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  &-text {
    max-width: 537px;
    margin: 0 auto;
    text-align: left;
    font-size: 12px;
    line-height: 160%;
  }
}
.guest__info {
  max-width: 110px;
  margin: 0 auto;
  margin-bottom: 20px;
  &-name {
    color: #ec1f46;
    font-size: 12px;
    margin-bottom: 10px;
  }
  &-date {
    font-size: 10px;
    font-weight: bold;
  }
}
.slick-slide img {
  display: inline-block;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.slick-prev {
  left: 340px;
}
.slick-next {
  right: 340px;
}

.newsletter {
  &__inner {
    padding-top: 100px;
    min-height: 250px;
    background-image: url("../img/newsletter__bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  &__main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-suptitle {
      font-size: 24px;
      line-height: 30px;
    }
    &-subtitle {
      font-size: 36px;
      line-height: 45px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  &__form {
    &-email {
      width: 285px;
      height: 50px;
      font-size: 14px;
      border-radius: 4px;
      border: none;
      padding: 0px 20px;
    }
    &-button {
      position: relative;
      top: 0.8px;
      right: 10px;
      padding: 15px;
      text-transform: capitalize;
      background-color: #ec1f46;
      border-radius: 0px 4px 4px 0px;
    }
  }
}
.activities {
  margin-bottom: 90px;
  &__title {
    padding-top: 80px;
    margin-bottom: 56px;
    font-family: "Mulish_bold";
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .portfolio {
    &__inner {
      display: flex;
      justify-content: space-between;
      color: #fff;
    }
    &__item {
      position: relative;
      padding: 1px;
    }
    &__img {
      display: block;
    }
    &__descr {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 143px 54px 0px 20px;
      text-align: start;
      font-size: 16px;
      line-height: 20px;
      opacity: 0;
      transition: all 0.7s;
    }
    &__item:hover &__descr:hover {
      opacity: 1;
      border-radius: 6px;
    }
    &__button {
      display: inline-block;
      margin-top: 12px;
      padding: 5px 10px;
      font-size: 12px;
      background-color: #ec1f46;
      border-radius: 4px;
      transition: all 0.4s;
      &:hover {
        opacity: 70%;
      }
    }
  }
}
.footer {
  min-height: 750px;
  background-color: #0a223d;
  color: white;
  &__top {
    padding-top: 108px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    &-logo {
      width: 166px;
      margin-top: 10px;
      font-family: "LuckiestGuy_Regular";
      font-size: 64px;
      line-height: 64px;
    }
  }
  &__menu {
    &-title {
      font-weight: bold;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    &-subtitle {
      margin-top: 28px;
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      &--links {
        margin-left: 20px;
        a {
          margin-left: 5px;
        }
      }
    }
  }
  &__list-item {
    margin-bottom: 7px;
    font-size: 14px;
    opacity: 70%;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-contacts {
      max-width: 520px;
      &--main {
        opacity: 70%;
      }
      p {
        font-size: 14px;
        margin-top: 20px;
      }
    }
    &-title {
      margin-bottom: 20px;
      font-size: 18px;
      text-transform: uppercase;
    }
    &-send {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
    }
    &-form {
      max-width: 540px;
      margin: 20px 0px 0px 0px;
    }
    &-input {
      width: 250px;
      height: 48px;
      padding: 0px 10px 0px 18px;
      border: none;
      font-size: 12px;
      border-radius: 4px;
      margin-bottom: 20px;
      & + & {
        margin-left: 20px;
      }
    }
    &-textarea {
      width: 526px;
      height: 123px;
      border-radius: 4px;
      padding: 18px 0px 0px 18px;
      margin-bottom: 20px;
    }
    &-button {
      padding: 10px 40px;
      font-size: 14px;
      border-radius: 4px;
      background-color: #ec1f46;
      transition: all 0.4s;
      &:hover {
        opacity: 70%;
      }
    }
  }
}
@import "media";
